
@{
    Layout = "_Layout";
}
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="@Url.Content("~/js/client.js")"></script>
    <title>Board</title>
</head>
<body>
    <h2>Game Board</h2>
    <div>
        <label id="currentValue"></label>
    </div>
    <div>
        <label id="jsonBoard"></label>
    </div>
    <div>
        <canvas id="boardImage" width="800" height="800"></canvas>
    </div>
</body>

