
@{
    Layout = "_Layout";
}
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="@Url.Content("~/js/client.js")"></script>
    <title>Board</title>
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-sm">
                <h1>Game Board</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">               
                <canvas id="boardImage" width="600" height="600"></canvas>
            </div>
            <div class="col-sm">
                <h3>Current State</h3>
                <br />
                <div>
                    <ul>
                        <li id="clickColumn">Column:</li>
                        <li id="clickRow">Row:</li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li id="turnStatus">Turn State:</li>
                        <li id="responseLabel">Response:</li>
                    </ul>
                    <br />
                    <h3>AI Control</h3>
                    <br />  
                    <table>
                        <tr>
                            <td>
                                <input type="checkbox" id="checkBoxAttackerIsAI">Attacker Is AI?<br>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox" id="checkBoxDefenderIsAI">Defender Is AI?<br>
                            </td>
                        </tr>
                    </table>
                    

                    <br />
                    <h3>Controls</h3>
                    <br />
                    <button class="button btn-secondary" id="resetButton">Reset</button>
                </div>
                <br />
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
                        Previous Moves
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" id="moveList">
                    </ul>
                </div>
            </div>

        </div>
    </div>

</body>

