
@{
    Layout = "_Layout";
}
<head>
    <title>Hnefatafl Rules</title>
</head>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <h2>Rules</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div>
                <a href="/GameBoard/CurrentBoard">To Game Board</a>
            </div>
            <div>
                <div>
                    The Copenhagen rules were formulated to address some of the shortcomings of the Fetlar rules, and other games where the king must reach a corner. Its peculiarities are the shieldwall capture (where pieces along the edge can be captured by depriving them of breathing space, like go stones), and a rule declaring the king's cause lost when all of his forces are surrounded.
                </div>
                <ul>
                    <li>
                        <b>1.</b> The game is played by two players on a board of 11x11 squares, one player taking control of the king and twelve defenders, the other taking control of twenty-four attackers.
                    </li>

                    <li>
                        <b>2.</b> The pieces are set out as shown in the diagram. The attackers take the first move.
                    </li>
                    <li>
                        <b>3.</b> In his turn a player can move a single piece any number of spaces along a row or column; this piece may not jump over nor land on another of either colour.
                    </li>
                    <li>
                        <b>4.</b> The five marked squares in the centre and corners of the board are special, and only the king may land on them. Other pieces may pass over the central square in the course of their move, as long as they do not land there.
                    </li>
                    <li>
                        <b>5.</b> A piece other than the king is captured when it is caught between two enemies along a row or column.
                    </li>
                    <li>
                        <b>6.</b> A piece other than the king may also be captured by surrounding it between and enemy and one of the marked empty squares.
                    </li>
                    <li>
                        <b>7.</b> NOT ACTIVE!  A row of pieces at the edge of the board may be captured by completely surrounding them against the board edge, so that none of them have room to move. The capturing move must be a flanking move to a square at the edge of the board. This is the "shield wall" capture.
                    </li>
                    <li>
                        <b>8.</b> The king is captured by surrounding him on all four sides by attackers.
                    </li>
                    <li>
                        <b>9.</b> The king may also be captured by surrounding him on three sides, if the fourth side is the marked central square.
                    </li>
                    <li>
                        <b>10.</b> The king wins the game if he reaches one of the corner squares. The attackers win if they capture the king. The attackers also win if they surround all of the kings forces, so that none can reach the board edges.
                    </li>
                    <li>
                        <b>11.</b>NOT ACTIVE! The king will also win the game by constructing an "edge fort": a layout of defenders at the edge of the board which cannot be captured, and which allows the king free movement inside.
                    </li>
                    <li>
                        <b>12.</b> A player who is trapped and cannot move loses the game.
                    </li>
                    <li>
                        <b>13.</b> Perpetual repetition is illegal. If the board position is repeated three times, the player in control of the situation must find another move.
                    </li>
                </ul>
                <div>
                    The shieldwall capture in this game prevents pieces from sticking together in an invincible formation at the edge of the board. The extra rule 10 where the attackers win by surrounding all of the defending pieces without capturing the king addresses the drawish nature of large corner games, where the king sets himself up in an invincible fort.
                </div>
            </div>
        </div>
    </div>
</div>



