
@{
    Layout = "_Layout";
}
<head>   
</head>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <h2>Home</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div>
                <a href="/GameBoard/CurrentBoard">To Game Board</a>
                <br />
                <a href="/Rules/Rules">Read the rules</a>
                <br />
                <div>
                    <img  class="centerImage" src="~/Images/shield.jpg" />
                </div>
            </div>
        </div>
    </div>
    </div>



