
@{
    Layout = "_Layout";
}
<head>   
</head>
<h2>Index</h2>
<div>
    <h2>Get data</h2>
</div>
<form id="setForm" asp-action="SetString" asp-controller="Game" method="post">
    <div class="form-group">
        <input class="form-control" id="Text" name="Text" />
        <button type="submit" class="button btn-sm btn-primary">Set</button>
    </div>
</form>
<div>
    <a href="/GameBoard/CurrentBoard"> To Game Board</a>
</div>
