

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TaflWeb</title>
    <link asp-href-include="lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/jQuery/dist/jquery.js"></script>
</head>
<body class="m-1 p-1">
    <div class="container">
        <div class="jumbotron d-flex align-items-center">
            <h1>TaflWeb </h1>
            <div>
                <h3>
                    ASP.NET Core MVC version of the Viking boardgame Hnefatafl.
                </h3>
            </div>
        </div>
    </div>
    @RenderBody()
</body>
</html>
